<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>The Peoples Score Card</title>

</head>
<body class="bg-secondary text-light">

    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <br><br>

    <div class="container-fluid">
        <div class="row justify-content-center" sec:authorize="isAuthenticated()">
            <div class="col-8 col-md-3 text-center">
                <h4 th:text="'Welcome !'"></h4>
            </div>
        </div>

        <div class="row justify-content-center" sec:authorize="isAnonymous()">
            <div class="col-8 col-md-3 text-center">
                <a th:href="@{/login}" class="btn btn-light btn-outline-dark">Login</a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/base :: footer"></div>
    <br>
</body>

<th:block th:replace="fragments/base :: scripts"></th:block>
</html>