<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <meta charset="UTF-8">
    <title>Score Sheet</title>
</head>
<body class="bg-secondary text-light">

    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <form class="mt-5" th:action="@{/scores}" th:object="${scores}" method="post">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1:</p>
                    <input class="form-control" id="fighter1" type="text"
                           th:field="*{fighter1}" placeholder="Fighter One" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('fighter1')}"
                          th:errors="*{fighter1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <p>Fighter 2:</p>
                    <input class="form-control" id="fighter2" type="text"
                           th:field="*{fighter2}" placeholder="Fighter Two" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('fighter2')}"
                          th:errors="*{fighter2}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1 - Round 1:</p>
                    <input class="form-control" id="round1Score1" type="number"
                           th:field="*{round1Score1}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round1Score1')}"
                          th:errors="*{round1Score1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 2 - Round 1:</p>
                    <input class="form-control" id="round1Score2" type="number"
                           th:field="*{round1Score2}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round1Score2')}"
                          th:errors="*{round1Score2}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1 - Round 2:</p>
                    <input class="form-control" id="round2Score1" type="number"
                           th:field="*{round2Score1}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round2Score1')}"
                          th:errors="*{round2Score1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 2 - Round 2:</p>
                    <input class="form-control" id="round2Score2" type="number"
                           th:field="*{round2Score2}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round2Score2')}"
                          th:errors="*{round2Score2}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1 - Round 3:</p>
                    <input class="form-control" id="round3Score1" type="number"
                           th:field="*{round3Score1}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round3Score1')}"
                          th:errors="*{round3Score1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <p>Fighter 2 - Round 3:</p>
                    <input class="form-control" id="round3Score2" type="number"
                           th:field="*{round3Score2}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round3Score2')}"
                          th:errors="*{round3Score2}">
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="row justify-content-center">
                    <label for="dates" class="col-4 col-form-label">Select the Fight:</label>
                </div>

                <div class="row justify-content-center">
                    <select class="form-control selectpicker col-4" name="fights" id="dates" required>
                        <option th:each="fight: ${fights}"
                                th:value="${fight.id}"
                                th:text="${fight}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="btn btn-light btn-outline-dark" type="submit"
                           value="Submit">
                </div>
            </div>
        </div>
    </form>

    <br><br>
    <div th:replace="fragments/base :: footer"></div>
    <br>
</body>

<th:block th:replace="fragments/base :: scripts"></th:block>
</html>