<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <meta charset="UTF-8">
    <title>Score Sheet</title>
</head>
<body class="bg-secondary text-light">

    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <h3 class="text-center col-12">View/Edit Scores</h3>
        </div>
    </div>


    <form class="mt-3 mb-3" th:action="@{/scores/edit/{id}(id=${scores.id})}" th:object="${scores}" method="post">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1:</p>
                    <input class="form-control" id="fighter1" type="text"
                           th:field="*{fighter1}" placeholder="Fighter One" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('fighter1')}"
                          th:errors="*{fighter1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <p>Fighter 2:</p>
                    <input class="form-control" id="fighter2" type="text"
                           th:field="*{fighter2}" placeholder="Fighter Two" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('fighter2')}"
                          th:errors="*{fighter2}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1 - Round 1:</p>
                    <input class="form-control" id="round1Score1" type="number"
                           th:field="*{round1Score1}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round1Score1')}"
                          th:errors="*{round1Score1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 2 - Round 1:</p>
                    <input class="form-control" id="round1Score2" type="number"
                           th:field="*{round1Score2}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round1Score2')}"
                          th:errors="*{round1Score2}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1 - Round 2:</p>
                    <input class="form-control" id="round2Score1" type="number"
                           th:field="*{round2Score1}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round2Score1')}"
                          th:errors="*{round2Score1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 2 - Round 2:</p>
                    <input class="form-control" id="round2Score2" type="number"
                           th:field="*{round2Score2}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round2Score2')}"
                          th:errors="*{round2Score2}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <p>Fighter 1 - Round 3:</p>
                    <input class="form-control" id="round3Score1" type="number"
                           th:field="*{round3Score1}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round3Score1')}"
                          th:errors="*{round3Score1}">
                    </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <p>Fighter 2 - Round 3:</p>
                    <input class="form-control" id="round3Score2" type="number"
                           th:field="*{round3Score2}" min="8" max="10" placeholder="10 / 9 / 8"/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span class="text-danger small" th:if="${#fields.hasErrors('round3Score2')}"
                          th:errors="*{round3Score2}">
                    </span>
                </div>
            </div>

            <div class="mb-3" th:each="fight: *{fights}">
                <div class="row justify-content-center mb-1">
                    <div class="col-8 col-md-3">
                        <span th:text="${fight}"></span>
                        <a th:href="@{/scores/{id}/remove-date/{fightId}(id=${scores.id}, fightId=${fight.id})}"
                           class="ml-3 text-danger"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <span th:text="'Date created: ' + ${#temporals.format(scores.created, 'dd-MM-yyyy HH:mm')}"></span><br>
                    <span th:text="'Date modified: ' + ${#temporals.format(scores.modified, 'dd-MM-yyyy HH:mm')}"></span><br>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="btn btn-light btn-outline-dark" type="submit" value="Submit">
                    <a class="ml-2 btn btn-light btn-outline-dark" th:href="@{/scoreDisplay}">Cancel</a>
                </div>
            </div>
        </div>
    </form>

    <br><br>
    <div th:replace="fragments/base :: footer"></div>
    <br>
</body>

<th:block th:replace="fragments/base :: scripts"></th:block>

</html>

